<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .form-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .button-container {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <a href="{{ url_for('home') }}" style="text-decoration: none;">
        <h1 style="background-image: linear-gradient(to right, #4CB9E8, #007CC4);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 800;
          font-size: 64px; /* Set font size to 64 */
          text-align: left;
          margin-left: 0; /* Ensure it's aligned with the left edge */">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="" style="height: 48.5px; width: auto;margin-left: 40px;"> <!-- Adjust height to 64px, width to auto (maintains aspect ratio) -->
          Druk Brain Scan
        </h1>
    </a>
    <div class="container3">
        <div class="left">
            <img src="{{ url_for('static', filename='pppp.png') }}" alt="">
        </div>
        <div class="right">
            <h1>Upload MRI Image</h1>
            <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" class="form-container">
                <input type="file" name="file">
                <div class="button-container">
                    <button type="submit" style="border-radius: 50px;">Upload MRI</button>
                    <button type="button" onclick="window.location.href='/'">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <footer style="background-color: #001420; color: white; padding: 1rem; display: flex; align-items: center; justify-content: flex-end;">
        <h3 style="margin: 0px;">&copy; 2024 DrukBrainScan</h3>
    </footer>
</body>
</html>
